.purple-background{
    
    background:  linear-gradient(to bottom right,#ad5389,#3c1053);
    background-attachment: fixed;
}
.orange-background{
    
    background:  linear-gradient(to bottom right,#fc4a1a,#f7b733);
    background-attachment: fixed;
}
.blue-background{
    
    background:  linear-gradient(to bottom right,#24C6DC,#514A9D);
    background-attachment: fixed;
}
.green-background{
    
    background:  linear-gradient(to top right,#9ef01a,#008000);
    background-attachment: fixed;
}
.pink-background{
    
    background:  linear-gradient(to top right,#ff85a1,#ff0a54);
    background-attachment: fixed;
}
.turquoise-background{
    
    background: linear-gradient(to top right,#9ceaef,#07beb8);
    background-attachment: fixed;
}
.yellow-background{
    
    background: linear-gradient(to top right,#fcf300,#ffc600);
    background-attachment: fixed;
}
.gold-background{
    
    background:  linear-gradient(to top right,#ffe169,#a47e1b);
    background-attachment: fixed;
}
.red-background{
    
    background:  linear-gradient(to bottom right,#ED213A,#93291E);
    background-attachment: fixed;
}
.black-background{
    
    background:  linear-gradient(to bottom right,#495057,#000814);
    background-attachment: fixed;
}
