.button{
    background: #000000;
    width: 50%;
    height: 50px;
    border: 0px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 23px;
    font: bolder;
    font-family: 'Bebas Neue', sans-serif;
    
}