.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;

    width: 80%;
    padding: 10px;

    background-color: #ffffff;
    border-radius: 10px;

}

.card-content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

.card .card-image{
    background-image: url("C:/Users/Vishal/Downloads/Screenshot 2023-09-09 101344.png");
    background-size: cover;
    height: 20%;

}