.blue{
    background-color: #4077b4;
}

.purple{
    background-color: #632766;
    
}

.green{
    background-color: #008000;
}


.gold{
    background-color: #a47e1b;
}


.red{
    background-color: #ED213A;
}

.white{
    background-color: #ffffff;
}

.yellow{
    background-color: #ffc600;
}
