.expandable-div{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    gap: 2rem;
    transition: 1s ease-in-out;
}

.width-expandable-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: center;

    /* width: 20%; */
    padding: 2%;
    flex-grow: 0;

    background-color: #ffffff;
    border-radius: 10px;
    transition: flex-grow 1s 0.5s ease, flex-shrink 1s ease;
}

.width-expandable-card .card-title{

    transform: scale(0.5);
    transition: 1s ease-in-out;
}
.width-expandable-card .card-content{
    opacity: 0;
    transition: 1s ease-in-out;
}

.width-expandable-card:hover{
    flex-grow: 500;
    /* flex-shrink: 10000; */
}
.width-expandable-card:hover .card-content{
    opacity: 1;
}

.width-expandable-card:hover .card-title{
    transform: scale(1);
}


