@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

.hand-written{
    font-family: 'Caveat', cursive;
}

.heading{
    font-family: 'Bebas Neue', sans-serif;
}

.terminal,.code{
    font-family: 'Fira Code', monospace;
}

.display{
    font-family: 'Poppins', sans-serif;
}
.regular,.plain{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.small-font{
    font-size: 16px;
}
.medium-font{
    font-size: 22px;
}
.large-font{
    font-size: 28px;
}