:root{
    --color-01: #ffffff ;
    --color-02: #ffffff ;
    --color-03: #ffffff ;
}

.navbar{
    color: var(--color-3);
}
.nav-items{
    display: flex;
    gap: 15px;
    list-style: none;
    transition: 0.5s;
}
.nav-item a{
    padding: 15px;
    color: var(--color-3);
    text-decoration: none;
    transition: 0.5s;
    
}

.nav-item a:hover{
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-item a:focus{
    background-color: var(--color-3);
    color: var(--color-2);
    letter-spacing: 5px;
    border-radius: 5px;
    font-size: 20px;
}